<!-- Announcement Bar Section -->
<section class="announcement-bar color-{{ section.settings.color_scheme }}" id="announcement-bar">
    <div>
        <p>
            {{ section.settings.announcement_text | escape }}
        </p>
        <span class="close-icon" onclick="document.getElementById('announcement-bar').style.display='none';">
            <span class="svg-wrapper menu-close">
                {{- 'icon-close.svg' | inline_asset_content -}}
            </span>
        </span>
    </div>
</section>

<!-- Schema -->
{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color scheme",
            "default": "scheme-3",
        },
        {
            "type": "text",
            "id": "announcement_text",
            "label": "Announcement text",
            "default": "This is an announcement!"
        }
    ]
}
{% endschema %}