<div class="page-container">
    <div class="section-heading text-center">
        <h2>{{ section.settings.title }}</h2>
        {{ section.settings.subtitle }}
    </div>
    <div class="swiper best-selling-products-slider">
      <div class="swiper-wrapper">
      {% for block in section.blocks %}
        {% assign product = block.settings.product %}
        <div class="swiper-slide">
          <div class="card-product-item">
            {% render 'card-product',
            product:product %}
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
</div>
<script>
    var swiper = new Swiper(".best-selling-products-slider", {
      slidesPerView: 3,
     grid: {
      rows: 2,
      fill: "row", // Fills rows first
    },
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
        // 💡 Responsive breakpoints
  breakpoints: {
    640: {
      slidesPerView: 2,
      spaceBetween: 20,
    },
    768: {
      slidesPerView: 3,
      spaceBetween: 30,
    },
    1024: {
      slidesPerView: 4,
      spaceBetween: 40,
    },
  }
    });
  </script>
{% schema %}
{
    "name": "Best selling products",
    "class": "best-selling-products-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Best selling"
      },
      {
        "type": "richtext",
        "id": "subtitle",
        "label": "Section Subtitle",
        "default": "<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>"
      }
    ],
    "max_blocks": 12,
    "blocks": [
      {
        "type": "product",
        "name":"product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
        {
            "name": "Best selling products",
        }
    ]
}
{% endschema %}