<section class="featured-blog">
    <div class="page-container">
        <h2 class="main-title">Featured Blog</h2>
        <div class="blogs item-gap d-flex flex-wrap">
            {% for article in blogs[section.settings.blog].articles limit: section.settings.column %}
                <div class="blog-item">
                    <h3 class="article-title">{{ article.title }}</h3>
                    <p class="article-date">Posted on {{ article.published_at | date: "%b %d, %Y" }}</p>
                    <a href="{{ article.url }}" class="read-more">Read More</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Featured Blog",
    "settings": [
        {
            "type": "range",
            "id": "column",
            "max": 4,
            "min": 0,
            "default":4,
            "label": "Blog Columns",
            "step": 1
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Select Blog"
        }
    ],
    "presets": [
        {
            "name": "Featured Blog",
            "category": "Blog"
        }
    ]
}
{% endschema %}