<div class="main-collection-page">
    {% content_for 'blocks' %}
</div>
{% schema %}
{
    "name": "Main Collection Page",
    "settings": [],
    "blocks": [{"type": "collection-banner"}],
    "presets": [
        {
            "name": "Main Collection Page",
            "category": "Collection"
        }
    ]
}
{% endschema %}